@tailwind base;
@tailwind components;
@tailwind utilities;

.multicolor-text {
  display: inline-block;
  background: linear-gradient(to left, blue, green);
  background-clip: text;
  color: transparent;
}
